<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Colors</h1>
      <p>While the brand is ever-evolving, the GitLab brand currently consists of six primary colors that are used in a wide array of marketing materials.</p>
      <img 
        src="~/assets/images/brand/gitlab-hex-rgb-colors.png" alt="GitLab brand colors" 
        width="600px"
      />
    </div>
  </div>
</template>
