@mixin type-scale($scale, $line-height, $margin-bottom: 0, $margin-top: 24px) {
  font-size: $base-font-size + ($scale * 2); 
  line-height: $line-height * $base-grid--typography;
  margin-bottom: $margin-bottom * $base-grid;
  margin-top: $margin-top;
}

h1, h2, h3, h4, h5, h6 { font-weight: $font-weight--bold; }

/* UI Typography */

h1 { @include type-scale(7, 8) }
h2 { @include type-scale(3, 6) }
h3 { @include type-scale(0, 4) }
h4 { @include type-scale(-1, 4) }
h5 { @include type-scale(-1, 4) }
h6 { @include type-scale(-1, 4) }
p  { @include type-scale(0, 4, 0, 0) }

a {
  text-decoration: none;
  color: $anchor-color;

  &:hover {
    text-decoration: underline;
  }
}

.label { @include type-scale(0, 4, 0, 0) }
.f-display { @include type-scale(14, 12) }
.f-small { @include type-scale(-1, 4, 0, 0) }

/*  MD Typography */

.md {
  @include type-scale(1, 7, 0, 0);

  h1 { 
    @include type-scale(14, 12, 2);
    padding-bottom: $gl-spacing-5;
    border-bottom: $border-width solid $gray-300;
  }

  h2 { 
    @include type-scale(7, 8, 2);
    padding-bottom: $gl-spacing-5;
    border-bottom: $border-width solid $gray-300;
  }

  h3 { @include type-scale(3, 6, 1) }
  h4 { @include type-scale(1, 6, 1) }
  h5 { @include type-scale(0, 5, 1) }

  h6 { 
    @include type-scale(0, 5, 1);
    color: $text-color--secondary;
  }

  p  { @include type-scale(1, 7, 2, 0) }

  blockquote,
  ul,
  ol {
    margin-bottom: 16px;
    margin-top: 0;
  }

  ul, ol {
    padding-left: $gl-spacing-6;

    ul, ol { margin-bottom: 0; }
  }

  blockquote {
    margin-left: $gl-spacing-6;
    margin-right: $gl-spacing-6;
    background: $gray-50;
    border-left: ($border-width * 2) solid $border-color;
    padding: $gl-spacing-5;
  }
}

/* MD compact Typography */

.md.compact {

  h1 {
    @include type-scale(3, 6, 1);
    border: none;
    padding: 0;
  }

  h2 {
    @include type-scale(0, 5, 1);
    border: none;
    padding: 0;
  }

  h3 { @include type-scale(-1, 4, 1); }

  h4 { 
    @include type-scale(-1, 4, 1);
    color: $text-color--secondary;
  }

  h5 { 
    @include type-scale(-1, 4, 1);
    color: $text-color--secondary;
  }

  h6 { 
    @include type-scale(-1, 4, 1);
    color: $text-color--secondary;
  }

  p { @include type-scale(0, 6, 2, 0); }
}

/*Distributed UI Typography */

.distributed {
  @include type-scale(0, 4, 0, 0);

  h1 { 
    @include type-scale(7, 8, 1);
    border: none;
    padding: 0;
  }

  h2 { 
    @include type-scale(3, 6, 1);
    border: none;
    padding: 0;
  }

  h3 { @include type-scale(0, 4, 1); }
  h4 { @include type-scale(-1, 4, 1); }

  h5 { 
    @include type-scale(-1, 4, 1);
    color: $text-color--secondary;
  }

  h6 { 
    @include type-scale(-1, 4, 1);
    color: $text-color--secondary;
  }
  
  p  { @include type-scale(0, 6, 2, 0); }
}

.md, .md.compact, .distributed {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

/* Type scale */

.ts-1 { @include type-scale(14, 12) }
.ts-2 { @include type-scale(7, 8)  }
.ts-3 { @include type-scale(3, 6)  }
.ts-4 { @include type-scale(1, 6)  }
.ts-5 { @include type-scale(0, 6)  }
.ts-6 { @include type-scale(-1, 4) }

p:last-child {
  margin-bottom: 0;
}

/* Type alignment */

.text-center {
  text-align: center;
}

/* Type treatment */

.f-monospace {
  font-family: $font-family-monospace;
  font-size: 13px;
}

.f-bold {
  font-weight: $font-weight--bold;
}

.f-secondary {
  color: $text-color--secondary;
}

.f-inverted {
  color: $text-color--inverted;
  text-shadow: 0 1px rgba($black,.2);
}
